<template>
  <div class="full-height">
    <widget
      class="full-height"
      title="Eco"
      :data="{
        one: [{
          t: 'Phone used',
          v: [data.value, '%']
        }]
      }"
    >
      <div class="row full-width row-two">
        -- // in developing
        <canvas ref="chartEl" />
      </div>
    </widget>
  </div>
</template>

<script>
// import Chart from 'chart.js'

export default {
  name: 'MobileUsageWidget',
  props: ['data'],
  data () {
    return {
      chart: null
    }
  },
  mounted () {
  },
  watch: {
    data () {
      this.showChart()
    }
  },
  methods: {
    showChart () {
    }
  }
}
</script>

<style scoped>

</style>
