<template>
  <q-circular-progress
    show-value
    :value="value"
    size="40px"
    font-size="12px"
    :thickness="0.22"
    color="primary"
    class=""
  >{{ value }}</q-circular-progress>

</template>

<script>
export default {
  name: 'ScoreCirc',
  components: {},
  props: ['value'],
  data () {
    return {}
  }
}
</script>
