<template>
  <div class="full-height">
    <widget
      class="full-height"
      title="Eco"
      :data="widgetDataRow1"
    >
      <div class="row full-width row-two">
        <div class="col-3">
          <div
            v-for="(val, name) in data.percents" :key="name"
            class="q-pa-xs q-pt-sm row items-start justify-start item relative-position"
          >
            <div class="full-width item-title">{{ name }}</div>
            <div class="row items-center full-width item-value relative-position q-mt-xs">
              <div
                style="" class="q-mr-xs oval1"
                :style="{ background: COLORS[name] }"
              />
              <span class="value">{{val}}</span>
              <span class="text q-ml-xs">%</span>
            </div>
          </div>
        </div>
        <div class="col-9">
          <canvas ref="chartEl" />
        </div>
      </div>
    </widget>
  </div>
</template>

<script>
import Chart from 'chart.js'

const COLORS = {
  Speed: '#F47961',
  Acceleration: '#6648FF',
  Cornering: '#16CEB9',
  Braking: '#FFDE72'
}

export default {
  name: 'ViolationsWidget',
  props: ['data'],
  data () {
    return {
      chart: null,
      COLORS
    }
  },
  mounted () {
    if (this.data && this.data.percents) {
      this.showChart()
    }
  },
  computed: {
    widgetDataRow1 () {
      const res = {
        one: [{
          t: 'Total events',
          v: [this.data.all]
        }]
      }
      if (this.data.per_car) {
        res.one.push(
          {
            t: 'Events',
            v: [this.data.per_car, 'per car']
          }
        )
      }
      return res
    }
  },
  watch: {
    data () {
      this.showChart()
    }
  },
  methods: {
    showChart () {
      const chData = {
        datasets: [{
          borderColor: 'rgba(255, 255, 255, 0.8)',
          borderWidth: 1,
          data: Object.values(this.data.percents || {})
        }],
        labels: Object.keys(this.data.percents || {})
      }

      this.chart = new Chart(this.$refs.chartEl, {
        type: 'pie',
        data: chData,
        options: {
          legend: false,
          // tooltips: false,
          elements: {
            arc: {
              backgroundColor: Object.keys(this.data.percents || {}).map(item => {
                return COLORS[item]
              })
              // backgroundColor: colorize.bind(null, false, false),
              // hoverBackgroundColor: hoverColorize
            }
          }
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
