<template>
  <div class="d-border generic-br q-pa-md relative-position small-widget">

    <div
      v-if="oneLen"
      class="col-12 row no-wrap row-one"
      :style="{ 'min-width': 140 * oneLen + 'px' }"
    >
      <div
        v-for="(item, i) in data.one" :key="'one' + i"
        class="q-pa-xs row items-start justify-start item"
        :class="{ 'q-pl-sm': i > 0, 'col-4': oneLen > 1, 'col-12': oneLen < 2 }"
      >
        <div class="full-width item-title">{{ item.t }}</div>
        <div class="full-width relative-position item-value">
          <span class="value">{{ (item.v[0] !== null && item.v[0] !== undefined) ? item.v[0] : '-' }}</span>
          <span v-if="item.v[1]" class="text q-ml-xs">{{ item.v[1] }}</span>
          <div v-if="i < oneLen - 1" class="sepr"/>
        </div>
      </div>
    </div>

    <q-separator dark spaced class="full-width op-13"/>

    <slot>
      <div
        v-if="twoLen"
        class="col-12 row no-wrap full-width row-two"
        :style="{ 'min-width': 66 * twoLen + 'px' }"
      >
        <template
          v-for="(items, j) in data.two"
        >
          <div
            v-for="(item, i) in items" :key="j + 'two' + i"
            class="q-pa-xs row items-start justify-start item relative-position"
            :class="{ 'q-pl-sm': j > 0 || i > 0 }"
            :style="{ width: 100 / twoLen + '%' }"
          >
            <div class="full-width item-title">{{ item.t }}</div>
            <div class="row items-center full-width item-value relative-position q-mt-xs">
              <div
                v-if="item.v[2] && COLOR_CLASSES.has(item.v[2])"
                style="" class="q-mr-xs" :class="item.v[2]"
              />
              <div
                  v-else-if="item.v[2]"
              >
                <img :src="`/appicons/${item.v[2]}.svg`">
              </div>
              <span class="value">{{ (item.v[0] !== null && item.v[0] !== undefined) ? item.v[0] : '-' }}</span>
              <span class="text q-ml-xs">{{item.v[1]}}</span>
              <div v-if="i < items.length - 1" class="sepr"/>
            </div>
            <div v-if="i === items.length - 1 && j < data.two.length - 1" class="sepr-2"/>
          </div>
        </template>
      </div>
    </slot>
  </div>
</template>

<script>

export default {
  name: 'widget',
  props: ['title', 'data'],
  data () {
    return {
      COLOR_CLASSES: new Set(['oval1', 'oval2', 'oval3', 'oval4'])
    }
  },
  computed: {
    oneLen () {
      return this.data && this.data.one && this.data.one.length
    },
    twoLen () {
      let res = 0
      if (this.data && this.data.two) {
        this.data.two.forEach(item => {
          res = res + item.length
        })
      }
      return res
    }
  }
}
</script>

<style lang="scss">
</style>
