// app global css in Sass form


body {
  background: $dark;
  font-family: "Stolzl", "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page {
  .menu-col {
    width: 344px;
    min-width: 344px;
  }
  .content-col {
    width: calc(100% - 344px);
    min-width: 894px;
  }
}

.menu {
  .q-tab--inactive {
    opacity: 0.5;
  }
  .q-tab__label {
    font-size: 11px;
    font-weight: 300;
    padding-top: 4px;
  }
  .item-active {
    opacity: 1;
    .q-tab__icon {
      color: #A7FF04;
      width: 20px;
      height: 20px;
    }
    .q-tab__label {
      font-weight: normal !important;
    }
  }
  .q-tab__icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
  }
}

.generic-br {
  border-radius: $generic-border-radius;
}
.d-border-0 {
  border: 1px solid rgba(255, 255, 255, 0)!important;
}
.d-border {
  border: 1px solid rgba(255, 255, 255, 0.13)
}
.d-border-left {
  border-left: 1px solid rgba(255, 255, 255, .16)
}

.op-8.q-separator--dark {
  background: rgba(255, 255, 255, .08);
}
.op-13.q-separator--dark {
  background: rgba(255, 255, 255, .08);
}
.op-16.q-separator--dark {
  background: rgba(255, 255, 255, .16);
}

.oval1 {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #B5FFE3;
}
.oval2 {
  height: 6px;
  width: 6px;
  opacity: 0.5;
  border-radius: 50%;
  background-color: #FFFFFF;
}
.oval3 {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #8FDE73;
}
.oval4 {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #F47961;
}
.oval5 {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #72E263;
}

.sepr {
  height: 12px;
  width: 1px;
  opacity: 0.16;
  background-color: #FFFFFF;
  position: absolute;
  right: 0;
  top: calc(50% - 6px);
}
.sepr-2 {
  width: 1px;
  opacity: 0.16;
  background-color: #FFFFFF;
  position: absolute;
  right: 0;
  top: 8px;
  bottom: 8px;
}


.small-widget {
  color: white;
  .row-one {
    .item {
      .item-title {
        opacity: 0.7;
        font-size: 11px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 15.42px;
      }
      .item-value {
        .value {
          opacity: 0.9;
          font-size: 32px;
          font-weight: 500;
          letter-spacing: 0.47px;
          line-height: 36px;
        }
        .text {
          opacity: 0.7;
          font-size: 11px;
          font-weight: 300;
          letter-spacing: 0.16px;
          line-height: 15px;
        }
      }
    }
  }
  .row-two {
    .item {
      min-width: 66px;
      .item-title {
        opacity: 0.7;
        font-size: 11px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 15px;
      }
      .item-value {
        .value {
          opacity: 0.9;
          font-size: 15px;
          font-weight: 500;
          letter-spacing: 0.22px;
          line-height: 19px;
        }
        .text {
          opacity: 0.7;
          font-size: 11px;
          font-weight: 300;
          letter-spacing: 0.16px;
          line-height: 15px;
        }
      }
    }
  }
}

.q-gutter-x-dr,
.q-gutter-dr {
  margin-left: -12px;
}
.q-gutter-x-dr > *,
.q-gutter-dr > * {
  margin-left: 12px;
}
.q-gutter-y-dr,
.q-gutter-dr {
  margin-top: -12px;
}
.q-gutter-y-dr > *,
.q-gutter-dr > * {
  margin-top: 12px;
}
.q-col-gutter-x-dr,
.q-col-gutter-dr {
  margin-left: -12px;
}
.q-col-gutter-x-dr > *,
.q-col-gutter-dr > * {
  padding-left: 12px;
}
.q-col-gutter-y-dr,
.q-col-gutter-dr {
  margin-top: -12px;
}
.q-col-gutter-y-dr > *,
.q-col-gutter-dr > * {
  padding-top: 12px;
}

.q-pa-dr {
  padding: 12px 12px;
}
.q-pl-dr {
  padding-left: 12px;
}
.q-pr-dr {
  padding-right: 12px;
}
.q-pt-dr,
.q-py-dr {
  padding-top: 12px;
}
.q-pb-dr,
.q-py-dr {
  padding-bottom: 12px;
}
.q-px-dr {
  padding-left: 12px;
  padding-right: 12px;
}
.q-ma-dr {
  margin: 12px 12px;
}
.q-ml-dr {
  margin-left: 12px;
}
.q-mr-dr {
  margin-right: 12px;
}
.q-mt-dr,
.q-my-dr {
  margin-top: 12px;
}
.q-mb-dr,
.q-my-dr {
  margin-bottom: 12px;
}
.q-mx-dr {
  margin-left: 12px;
  margin-right: 12px;
}
