<template>
  <div
    class="row generic-br q-pa-sm cursor-pointer relative-position device-item"
    :class="[ value.id === $route.params.itemId ? 'd-border-0' : 'd-border' ]"
    v-ripple
  >
    <div class="col-12">
      <q-item class="q-pa-none">
        <q-item-section>
          <q-item-label class="row items-center no-wrap">
            {{ value.name }} <div class="q-ml-xs" :class="value.trip && value.trip.active ? 'oval5' : 'oval4'"/>
          </q-item-label>
          <q-item-label caption>
            {{ value.driver }}
          </q-item-label>
        </q-item-section>
        <q-item-section v-if="value.trip" side>
          <score-circ :value="value.trip.score"/>
        </q-item-section>
      </q-item>
    </div>

    <q-separator dark spaced class="full-width op-16"/>

    <div class="small-widget">
      <div class="col-12 row row-two">
        <!--        mileage-->
        <div class="col-4 q-pa-xs row items-start justify-start item relative-position">
          <div class="full-width item-title">Mileage</div>
          <div class="row items-center full-width item-value relative-position">
            <span class="value">{{ value.trip ? value.trip.mileage : '-' }}</span>
            <span class="text q-ml-xs">km</span>
            <div class="sepr"/>
          </div>
        </div>

        <!--        duration-->
        <div class="col-4 q-pa-xs row items-start justify-start item relative-position">
          <div class="full-width item-title">Duration</div>
          <div class="row items-center full-width item-value relative-position">
            <span class="value">{{value.trip ? (value.trip.duration / 60).toFixed(1) : '-'}}</span>
            <span class="text q-ml-xs">min</span>
            <div class="sepr"/>
          </div>
        </div>

        <!--        co2-->
        <div class="col-4 q-pa-xs row items-start justify-start item relative-position">
          <div class="full-width item-title">CO2</div>
          <div class="row items-center full-width item-value relative-position">
            <span class="value" style="color: #8FDE73; opacity: 0.7">{{value.trip ? value.trip.co2 : '-'}}</span>
            <span class="text q-ml-xs">g/km</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'UnitItem',
  components: {},
  props: ['value'],
  data () {
    return {
    }
  }
}
</script>

<style lang="scss">
.device-item {
  .q-item__label {
    opacity: 0.9;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.22px;
    line-height: 22px;
  }
  .q-item__label--caption {
    color: white;
    opacity: 0.7;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 15px;
  }
}
</style>
