<template>
  <div>
    <!--        title-->
    <q-item class="q-pa-none">
      <q-item-section>
        <span style="font-size: 18px;">{{ groupData.name }}</span>
      </q-item-section>
      <q-item-section side>
        -- data for the last month
      </q-item-section>
    </q-item>

    <q-banner v-if="errors && errors.length" class="bg-red generic-br">
      <div v-for="(item, key) in errors" :key="key" class="full-width">
        - {{item}}
      </div>
    </q-banner>

    <div class="col-12 row q-gutter-y-md" v-if="!errors || !errors.length">
      <div class="col-12 row no-wrap">
        <div
          class="col-4"
        >
          <widget
            title="General"
            :data="{
                one: [{
                  t: 'Total cars',
                  v: [general.count]
                }],
                two: [[
                  {
                    t: 'Active',
                    v: [general.active, null, 'oval1']
                  }, {
                    t: 'Inactive',
                    v: [general.count - general.active, null, 'oval2']
                  }
                ], [
                  {
                    t: 'Moving',
                    v: [general.moving, '%', 'oval3']
                  }, {
                    t: 'Parker',
                    v: [general.moving ? (100 - general.moving).toFixed(1) : '-', '%', 'oval4']
                  }
                ]]
              }"
          />
        </div>
        <div class="col-8 q-pl-md">
          <widget
            class="col-8"
            title="Mileage"
            :data="{
                one: [{
                  t: 'Total mileage',
                  v: [mileage.total_mileage, 'km']
                }, {
                  t: 'Daily mileage',
                  v: [mileage.daily_mileage, 'km per car']
                }, {
                  t: 'Average mileage',
                  v: [mileage.avg_mileage, 'km per trip']
                }],
                two: [[
                  {
                    t: 'Day',
                    v: [mileage.day, '%', 'day']
                  }, {
                    t: 'Night',
                    v: [mileage.day ? (100 - mileage.day).toFixed(1) : '-', '%', 'night']
                  }
                ], [
                  {
                    t: 'City',
                    v: [mileage.city, '%', 'city']
                  }, {
                    t: 'Highway',
                    v: [mileage.city ? (100 - mileage.city).toFixed(1) : '-', '%', 'highway']
                  }
                ]]
              }"
          />
        </div>
      </div>
      <div class="col-12 row no-wrap">
        <div class="col-4 q-pr-md">
          <widget
            title="Trips"
            :data="{
                one: [{
                  t: 'Total trips',
                  v: [trips.all_trips]
                }],
                two: [[
                  {
                    t: 'Average trips',
                    v: [trips.avg_trips_count, 'per car', 'trips']
                  }
                ]]
              }"
          />
        </div>
        <div class="col-4 q-pr-md">
          <widget
            title="Score"
            :data="{
                one: [{
                  t: 'Average score',
                  v: [score.avg_score, 'per car']
                }],
                two: [[
                  {
                    t: 'Best',
                    v: [score.max_score, null, 'best']
                  },
                  {
                    t: 'Worst',
                    v: [score.min_score, null, 'worst']
                  }
                ]]
              }"
          />
        </div>
        <div class="col-4">
          <widget
            title="Eco"
            :data="{
                one: [{
                  t: 'Fuel consumption',
                  v: [eco.avg_fuel_consumption, 'per car']
                }],
                two: [[
                  {
                    t: 'Average CO2',
                    v: [eco.avg_co2, 'per car', 'co2']
                  }
                ]]
              }"
          />
        </div>
      </div>
      <div class="col-12 row no-wrap">
        <div class="col-6">
          <violations-widget
            :data="violations"
          />
        </div>
        <div class="col-6 q-pl-md">
          <mobile-usage-widget
            :data="mobile_usage"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ViolationsWidget from 'components/violationsWidget'
import MobileUsageWidget from 'components/mobileUsageWidget'

export default {
  name: 'Group',
  components: { ViolationsWidget, MobileUsageWidget },
  data () {
    return {
      devices: {},
      byGroup: {},
      groups: {},
      GROUP_ICONS: {},
      groupData: { name: '-' },
      errors: [],
      // widgets
      general: {},
      mileage: {},
      trips: {},
      score: {},
      eco: {},
      driver_performance: {},
      violations: {},
      mobile_usage: {}
    }
  },
  async created () {
    await this.loadData(this.groupId)
  },
  computed: {
    groupId () {
      return this.$route.params.groupId
    }
  },
  watch: {
    groupId (t, f) {
      this.loadData(t)
    }
  },
  methods: {
    async loadData (groupId) {
      const d = await this.$api.getGroupWidgets(groupId)
      const result = (d && d.result) || {}
      this.groupData = {
        name: result.name
      }
      this.general = result.general
      this.mileage = result.mileage
      this.trips = result.trips
      this.score = result.score
      this.eco = result.eco
      this.driver_performance = result.driver_performance
      this.violations = result.violations
      this.mobile_usage = result.mobile_usage
      // this.devices = (d && d.result && d.result.devices) || {}
      this.errors = (d && d.errors) || []
    }
  }
}
</script>
