<template>
  <q-page class="row no-wrap full-width text-white page">
    <!--    menu column-->
    <div
      class="full-height q-pa-sm menu-col"
    >
      <div class="full-width">
<!--        filter-->
        <div class="row justify-between q-mt-sm">
          <q-input
            dense outlined disable v-model="filter" placeholder="Search unit..." dark
          >
            <template v-slot:prepend>
              <q-icon name="search" />
            </template>
          </q-input>
          <q-btn
            outline dense disable
            icon="filter_list"
            style="width: 40px; height: 40px; color: #E8E8E9; "
          />
        </div>

<!--        menu/groups + untis-->
        <div class="row q-mt-lg">
          <menu-column/>
        </div>
      </div>
    </div>

    <!--    content column-->
    <div
      class="col-9 q-pa-sm full-height bg-dark content-col"
    >
      <div
        v-if="$route.name === 'Fleets'"
        class="bg-secondary row full-width full-height q-px-md q-py-sm items-center justify-center"
        style="border-radius: 26px;"
      >
        <img
          alt="Quasar logo"
          src="~assets/logo.svg"
        >
      </div>
      <div
        v-else
        class="bg-secondary full-width full-height q-px-md q-py-sm"
        style="border-radius: 26px;"
      >
        <router-view/>
      </div>
    </div>
  </q-page>
</template>

<script>
import MenuColumn from './MenuColumn'

export default {
  name: 'PageIndex',
  components: { MenuColumn },
  data () {
    return {
      filter: ''
    }
  },
  async created () {
  }
}
</script>

<style lang="scss">
.q-field--dark .q-field__control:before {
  border-color: rgba(255,255,255,0.16);
}
.q-field--readonly .q-placeholder, .q-field--disabled .q-placeholder {
  opacity: 0.5;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
.q-btn--outline .q-btn__wrapper:before {
  border-color: rgba(255,255,255,0.16);
}

</style>
