<template>
  <div>
    <!--        title-->
    <q-item class="q-pa-none">
      <q-item-section>
        <div class="row full-width no-wrap items-center">
          <div style="font-size: 18px;">{{ deviceData.name }}</div>
          <q-separator vertical dark spaced class="op-16 q-my-xs"/>
          <div style="font-size: 12px; opacity: .9">{{deviceData.driver}}</div>
        </div>
      </q-item-section>
      <q-item-section side>
        -- data for the last month
      </q-item-section>
    </q-item>

    <q-banner v-if="errors && errors.length" class="bg-red generic-br">
      <div v-for="(item, key) in errors" :key="key" class="full-width">
        - {{item}}
      </div>
    </q-banner>

    <div class="col-12 row q-gutter-y-md" v-if="!errors || !errors.length">
      <div class="col-12 row no-wrap">
        <div
          class="col-4 q-px-xs"
        >
          <widget
            title="Trips"
            :data="{
                one: [{
                  t: 'Total trips',
                  v: [trips.count]
                }],
                two: [[
                  {
                    t: 'Average trips',
                    v: ['?', 'per car']
                  }
                ], [
                  {
                    t: 'Moving',
                    v: [trips.moving, '%', 'oval3']
                  }, {
                    t: 'Parker',
                    v: [trips.moving ? (100 - trips.moving).toFixed(1) : '-', '%', 'oval4']
                  }
                ]]
              }"
          />
        </div>
        <div class="col-8 q-px-xs">
          <widget
            class="col-8"
            title="Mileage"
            :data="{
                one: [{
                  t: 'Total mileage',
                  v: [mileage.total_mileage, 'km']
                }, {
                  t: 'Average mileage',
                  v: [mileage.avg_mileage, 'km per trip']
                }],
                two: [[
                  {
                    t: 'Day',
                    v: [mileage.day, '%', 'day']
                  }, {
                    t: 'Night',
                    v: [mileage.day ? (100 - mileage.day).toFixed(1) : '-', '%', 'night']
                  }
                ], [
                  {
                    t: 'City',
                    v: [mileage.city, '%', 'city']
                  }, {
                    t: 'Highway',
                    v: [mileage.city ? (100 - mileage.city).toFixed(1) : '-', '%', 'highway']
                  }
                ]]
              }"
          />
        </div>
      </div>
      <div class="col-12 row no-wrap">
        <div class="col-4 q-px-xs">
          <widget
            style="border: 1px solid rgba(0, 0, 0, .3)"
            title="Score"
            :data="{
                one: [{
                  t: 'Score',
                  v: [score.score]
                }],
                two: [[
                  {
                    t: 'Tariff plan',
                    v: [score.tariff]
                  }
                ]]
              }"
          />
        </div>
        <div class="col-4 q-px-xs">
          <widget
            title="Car info"
            :data="{
                one: [{
                  t: 'Security level',
                  v: [car.sec_lvl]
                }],
                two: [[
                  {
                    t: 'Vehicle type',
                    v: [car.veh_type]
                  },
                  {
                    t: 'Number',
                    v: [car.number]
                  },
                  {
                    t: 'Year',
                    v: [car.year]
                  }
                ]]
              }"
          />
        </div>
        <div class="col-4 q-px-xs">
          <widget
            title="Eco"
            :data="{
                one: [{
                  t: 'Fuel consumption',
                  v: [eco.avg_fuel_consumption]
                }],
                two: [[
                  {
                    t: 'Average CO2',
                    v: [eco.avg_co2, 'per car', 'co2']
                  }
                ]]
              }"
          />
        </div>
      </div>
      <div class="col-12 row no-wrap q-gutter-x-md">
        <div class="col-6">
          <violations-widget
            :data="violations"
          />
        </div>
        <div class="col-6">
          <mobile-usage-widget
            class="full-height"
            :data="mobile_usage"
          />
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import ViolationsWidget from 'components/violationsWidget'
import MobileUsageWidget from 'components/mobileUsageWidget'

export default {
  name: 'Item',
  components: { ViolationsWidget, MobileUsageWidget },
  data () {
    return {
      errors: [],
      deviceData: {},
      // widgets
      general: {},
      mileage: {},
      trips: {},
      score: {},
      eco: {},
      driver_performance: {},
      car: {},
      violations: {},
      mobile_usage: {}
    }
  },
  async created () {
    await this.loadData(this.groupId)
  },
  computed: {
    groupId () {
      return this.$route.params.groupId
    },
    deviceId () {
      return this.$route.params.itemId
    }
  },
  watch: {
    deviceId (t, f) {
      this.loadData(t)
    }
  },
  methods: {
    async loadData () {
      const d = await this.$api.getDeviceWidgets(this.groupId, this.deviceId)
      const result = (d && d.result) || {}
      this.deviceData = {
        name: result.name,
        driver: result.driver
      }
      const widgets = result.widgets || {}
      this.general = widgets.general || {}
      this.mileage = widgets.mileage || {}
      this.trips = widgets.trips || {}
      this.score = widgets.score || {}
      this.eco = widgets.eco || {}
      this.driver_performance = widgets.driver_performance || {}
      this.car = widgets.car || {}
      this.violations = widgets.violations || {}
      this.mobile_usage = widgets.mobile_usage || {}
      // this.devices = (d && d.result && d.result.devices) || {}
      this.errors = (d && d.errors) || []
    }
  }
}
</script>
