<template>
  <!--    menu column-->
  <q-list class="full-width q-gutter-y-dr">

    <q-banner v-if="errors && errors.length" class="bg-red">
      <div v-for="(item, key) in errors" :key="key" class="full-width">
        - {{item}}
      </div>
    </q-banner>

    <q-expansion-item
      v-for="(deviceIds, group) in byGroup" :key="group"
      v-model="vModels[group]"
      :header-class="[
        'full-width d-border group',
         group === $route.params.groupId && !$route.params.itemId ? 'd-border-0' : 'd-border',
         group === $route.params.groupId ? 'active-el' : 'no-active-el'
        ]"
      :header-style="{ 'border-radius': '16px', 'padding': '11px 10px' }"
      group="groups"
      @click="selectGroup(group)"
    >
      <template v-slot:header>
        <q-item-section avatar>
          <div class="row group-avatar items-center justify-center" :class="{ 'group-avatar-bg': group !== $route.params.groupId || $route.params.itemId }">
            <q-icon :name="GROUP_ICONS[group] || 'add'" color="white" size="sm"/>
          </div>
        </q-item-section>

        <q-item-section>
          {{groups[group]}}
        </q-item-section>

        <q-item-section side>
          <div class="q-pa-xs items-count">
            {{deviceIds.length}}
          </div>
        </q-item-section>
      </template>

      <!--            items-->
      <div class="q-pt-dr q-pl-xl q-gutter-y-dr">
        <template v-for="deviceId in deviceIds">
          <div
            :key="deviceId"
            @click="selectItem(group, deviceId)"
          >
            <unit-item
              :value="devices[deviceId]"
              :class="[ deviceId === $route.params.itemId ? 'active-el' : 'no-active-el']"
            />
          </div>
        </template>
      </div>

    </q-expansion-item>
  </q-list>
</template>

<script>
import UnitItem from './_UnitItem'

export default {
  name: 'MenuColumn',
  components: { UnitItem },
  data () {
    return {
      devices: {},
      byGroup: {},
      groups: {},
      GROUP_ICONS: {},
      errors: [],
      vModels: {}
    }
  },
  async created () {
    const d = await this.$api.getUnits()
    this.devices = (d && d.result && d.result.devices) || {}
    this.byGroup = (d && d.result && d.result.byGroup) || {}
    this.groups = (d && d.result && d.result.groups) || {}
    this.errors = (d && d.errors) || []
    for (const i in this.byGroup) {
      this.$set(this.vModels, i, i === this.$route.params.groupId)
    }
  },
  methods: {
    selectGroup (group) {
      this.$router.push({ name: 'GroupItems', params: { groupId: group } }).catch(e => {})
      // if (!this.$route.params.groupId || group !== this.$route.params.groupId) {
      //   this.$router.push({ name: 'GroupItems', params: { groupId: group } }).catch(e => {})
      // }
    },
    selectItem (group, deviceId) {
      this.$router.push({ name: 'Item', params: { groupId: group, itemId: deviceId } }).catch(e => {})
    }
  }
}
</script>

<style lang="scss">
.q-expansion-item--expanded {
  .group {
    //background: #1C1C1E;
  }
}
.group-avatar {
  border-radius: 12px;
  width: 34px;
  height: 34px;
  &-bg{
    background: rgba(255, 255, 255, .08);
  }
}
.active-el {
  background: #1C1C1E;
}
.no-active-el {
  opacity: .7;
}
.group {
  .items-count {
    height: 30px;
    width: 45px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, .08);
    text-align: center;
  }
  .q-item__section--main {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.22px;
    line-height: 22px;
  }
  .q-item__section--side {
    padding-left: 4px;
  }
  .q-item__section--avatar {
    min-width: 34px;
    max-width: 34px;
    width: 100%;
    margin-right: 12px;
    border-radius: 12px;
    //background-color: rgba(255, 255, 255, .08);
  }
  .q-item__section--avatar.q-item__section--side {
    padding-right: 4px;
  }
}
</style>
