<template>
  <q-layout view="hHh lpR fFf" class="bg-dark">

    <div class="row no-wrap">
      <!--      left column-->
      <div
        class="text-white"
        style="width: 80px;"
      >
<!--        logo-->
        <div class="row q-py-md justify-center">
          <div>
            <img
              src="~assets/logo2.svg"
              style="max-width:100%; width: 32px;"
            >
          </div>
        </div>
        <!--        menu-->
        <div class="row menu">
          <q-tabs
            vertical
            indicator-color="transparent"
            active-color="white"
            no-caps
            class="full-width text-white"
          >
            <q-route-tab
              v-for="tab in tabs" :key="tab.name"
              v-ripple="false" exact
              :to="{ name: tab.route }" :icon="activeTab === tab.route ? tab.iconActive : tab.icon" :label="tab.label"
              active-class="item-active"
              :class="{ 'item-active': activeTab === tab.route }"
              @click="selectTab(tab)"
            />
          </q-tabs>
        </div>
      </div>

      <q-separator vertical dark class="op-8"/>

      <!--      pages-->
      <q-page-container
        class="flex"
        style="width: calc(100% - 80px);"
      >
        <router-view />
      </q-page-container>
    </div>

  </q-layout>
</template>

<script>
export default {
  data () {
    return {
      activeTab: null,
      tabs: [
        {
          name: 'fleets',
          route: 'Fleets',
          label: 'Fleets',
          icon: 'img:/appicons/fleets_normal.svg',
          iconActive: 'img:/appicons/fleets_active.svg'
        },
        {
          name: 'analytics',
          route: 'Analytics',
          label: 'Analytics',
          icon: 'img:/appicons/analytics_normal.svg',
          iconActive: 'img:/appicons/analytics_active.svg'
        },
        {
          name: 'claims',
          route: 'Claims',
          label: 'Claims',
          icon: 'img:/appicons/claims_normal.svg',
          iconActive: 'img:/appicons/claims_active.svg'
        },
        {
          name: 'policy',
          route: 'Policy',
          label: 'Policy',
          icon: 'img:/appicons/policy_normal.svg',
          iconActive: 'img:/appicons/policy_active.svg'
        },
        {
          name: 'ntf',
          route: 'Ntf',
          label: 'Ntf',
          icon: 'img:/appicons/ntf_normal.svg',
          iconActive: 'img:/appicons/ntf_active.svg'
        },
        {
          name: 'settings',
          route: 'Settings',
          label: 'Settings',
          icon: 'img:/appicons/settings_normal.svg',
          iconActive: 'img:/appicons/settings_active.svg'
        }
      ]
    }
  },
  mounted () {
    if (['Fleets', 'GroupItems', 'Item'].indexOf(this.$route.name) !== -1) {
      this.activeTab = 'Fleets'
    } else {
      this.activeTab = this.$route.name
    }
  },
  methods: {
    selectTab (tab) {
      this.activeTab = tab.route
    }
  }
}
</script>
