<template>
  <q-page class="row no-wrap full-width text-white page">
    <!--    menu column-->
    <div
      class="full-height q-pa-sm menu-col"
    />

    <!--    content column-->
    <div
      class="col-9 q-pa-sm full-height bg-dark content-col"
    >
      <div
        class="bg-secondary row full-width full-height q-px-md q-py-sm items-center justify-center"
        style="border-radius: 26px;"
      >
        <div>
          <img
            alt="Quasar logo"
            src="~assets/logo.svg"
          >
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex'
}
</script>
